/* Laptop Screen */
@media only screen and (max-width: 1400px) {
    .strenght-sec-top h5 {
        padding-right: 45px;
        line-height: 50px;
    }
    .pr-vote-sec2 {
        margin-top: 110px;
    }   
    .pr-vote-sec2 p {
        padding-top: 25px;
    }
    .pr-vote-sec::before{
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        background: rgb(0, 0, 0, 0.6); ;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
    }
    .pr-vote-sec2 {
        margin-top: 110px;
        position: relative;
        text-align: center;
    }
    .pr-community-bottom h5 {
        font-size: 38px;
        line-height: 50px;
    }
    .pr-community-bottom p {
        padding-top: 15px;
        line-height: 25px;
    }
    .pr-community-checks span {
        padding-left: 10px;
    }
   
}
@media only screen and (max-width: 1200px) {
    li.nav-item.nav-space {
        padding: 10px 15px;
    }
    .pr-top-head h1 {
        padding-top: 240px;
    }
    .pr-hero-bg {
        height: 534px;
    }
    .pr-social-work p {
        line-height: 24px;
        margin-top: 15px;
        padding: 0px 13px;
    }
    .pr-social-work2 {
        left: 50px;
    }
    .pr-social-work3 {
        left: 50px;
    }
   
}
@media only screen and (max-width: 992px) {
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0;
    }
    button.navbar-toggler {
        padding: 5px 8px;
        border: 0px;
    }
    li.nav-item.nav-space {
        padding: 2px 10px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.navbar-bg {
        background: #D9D9D9;
        padding: 10px 0px;
    }
    .pr-social-beaft::before{
        display: none;
    }
    .pr-social-beaft::after {
        display: none;
    }
    .pr-social-services::after{
        display: none;
    }
    .pr-social-work3 {
        left: 90px;
    }
    .pr-social-work2 {
        left: 90px;
    }
    .pr-community-bottom {
        padding-left: 0;
    }
    .pr-footer1 {
        margin-top: 60px;
    }
    .pr-footer2 {
        margin-top: 60px;
    }
    .pr-footer4 {
        margin-top: 60px;
    }
    .pr-footer2 ul, li, a {
        line-height: 25px;
    }
    .pr-footer-line {
        margin-top: 30px;
    }
    .pr-footer2 h6 {
        padding-bottom: 10px;
    }
    .pr-footer4 h6 {
        padding-bottom: 10px;
    }
    .footer-bottom-copy {
        margin-top: 25px;
    }
}
/* tab to mobile Screen */
@media only screen and (max-width: 767px) {
    nav.navbar.navbar-expand-lg.navbar-light.navbar-bg {
        background: #D9D9D9;
        padding: 10px 0px;
    }
    li.nav-item.nav-space {
        padding: 0px 5px;
    }
    img.d-inline-block.align-text-top.nav-logo {
        width: 100px;
    }
    .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
    }
    button.navbar-toggler {
        padding: 5px 8px;
        border: 0px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0;
    }
    .pr-hero-bg {
        height: 320px;
        padding-left: 0px;
        position: relative;
    }
    .pr-top-head {
        position: relative;
        padding-top: 65px;
    }
    .pr-hero-bg::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        height: 320px;
        width: 100%;
        padding-left: 0px;
    }
    .pr-top-head h1 {
        padding-top: 0;
        font-size: 18px;
        color: var(--light-color);
        font-weight: 500;
    }
    .pr-top-head h2 {
        font-size: 25px;
        font-weight: 500;
        color: var(--light-color);
    }
    .pr-top-head p {
        padding-top: 10px;
        line-height: 23px;
        color: var(--light-color);
        font-weight: 500;
        font-size: 14px;
    }
    img.img-fluid.p-sign-brand {
        width: 100px;
        height: auto;
    }   
.pr-sign-sec {
    padding-top: 0px;
}
h3.pr-headings {
    font-size: 25px;
    margin-bottom: 0px;
}
.pr-mis-vis p {
    padding-top: 3px;
    font-size: 14px;
    line-height: 20px;
}
.pr-mivi-bottom {
    margin-top: 20px;
    padding: 0px 40px 30px 40px;
}
.pr-mivi-content {
    padding-left: 15px;
}
.pr-mivi-content img{
    width: 40px;
}
.strenght-sec-top h5 {
    padding-right: 0px;
    line-height: 35px;
    font-size: 25px;
}
.strenght-sec-top p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 28px;
}
.pregress-counting {
    padding-top: 0px;
}
img.img-fluid.str-politic {
    height: 390px;
}
.pr-social-work2 {
    left: 242px;
}
.pr-social-work3 {
    left: 242px;
}
.pr-social-services-inner {
    text-align: center;
    margin-top: 25px;
}
.pr-social-services {
    margin-top: 0px;
    margin-bottom: 20px;
}
.pr-vote-sec2 h5 {
    font-size: 25px;
}
.pr-vote-sec2 p {
    padding-top: 25px;
    font-size: 14px;
    font-weight: 400;
}
.pr-vote-sec {
    height: 380px;
}
.pr-vote-sec::before {
    height: 380px;
}
.pr-vote-sec2 {
    margin-top: 85px;
}
.pr-vote-sec2 p {
    padding-top: 15px;
}
.pr-community-bottom h5 {
    font-size: 25px;
    line-height: 35px;
    padding-top: 20px;
}
.pr-community-sec {
    margin-top: 50px;
}
.testimonial-section {
    background: var(--background-light);
    padding: 15px 0px;
    margin-top: 15px;
}
.owl-dots {
    bottom: -60px;
}
.pr-testimonial-sec2 p {
    line-height: 25px;
}
footer {
    margin-top: 75px;
    height: 100%;
}
.pr-footer1 {
    margin-top: 35px;
}
.pr-footer1 p {
    color: rgba(255, 225, 170, 1);
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}
.pr-footer2 {
    margin-top: 30px;
}
.pr-footer4 {
    margin-top: 30px;
}
.pr-footer2 h6 {
    font-weight: 600;
    font-size: 20px;
}
.pr-footer4 h6 {
    font-weight: 600;
    font-size: 20px;
}
.pr-social-icons {
    margin-top: 20px;
}
.pr-footer-line {
    margin-top: 20px;
}
.footer-bottom-copy {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-bottom-copy p {
    font-weight: 600;
    font-size: 18px;
}
}

/* Mobile Screen */
@media only screen and (max-width: 555px) {
    .pr-social-work3 {
        left: 230px;
    }
    .pr-social-work2 {
        left: 230px;
    }
}

/* Mobile Screen */
@media only screen and (max-width: 450px) {
    .pr-hero-bg::before {
        height: 250px;
    }
    .pr-hero-bg {
        height: 250px;
        margin-top: 10px;
    }
    .pr-top-head h2 {
        font-size: 16px;
        font-weight: 700;
        padding-top: 2px;
    }
.pr-top-head p {
    padding-top: 0px;
    line-height: 16px;
    font-size: 9px;
    font-weight: 700;
}
img.img-fluid.pr-sign {
    height: 20px;
}
.pr-mis-vis {
    margin-top: 15px;
}
h3.pr-headings {
    font-size: 18px;
    margin-top: 25px;
}
.pr-mis-vis p {
    padding-top: 3px;
    font-size: 14px;
    line-height: 25px;
}
.pr-mivi-content p {
    font-size: 12px;
    line-height: 16px;
    padding-right: 0px;
}
.pr-mivi-bottom {
    margin-top: 24px;
    padding: 0px 0px 30px 0px;
}
.pre-brand-ann {
    margin-top: 0px;
    padding: 0px 20px;
}
.pr-ann-sec {
    text-align: center;
    padding: 15px 15px;
}
.pr-ann-sec h5 {
    font-size: 16px;
    padding-bottom: 10px;
}
.pr-ann-sec p {
    font-size: 13px;
    padding-top: 0px;
}
.col-lg-4.col-md-6.col-sm-12.mt-5.pr-brand-ann {
    margin-top: 15px !important;
}
img.img-fluid.ann-icons {
    width: 60px;
}
img.img-fluid.str-politic {
    height: 320px;
}
.strenght-sec-top h5 {
    line-height: 30px;
    font-size: 22px;
    padding-top: 15px;
}
.pr-social-work3 {
    left: 190px;
}
.pr-social-work2 {
    left: 190px;
}
.pr-vote-sec2 {
    margin-top: 80px;
}
.pr-vote-sec2 h5 {
    font-size: 22px;
}
.pr-vote-sec2 p {
    padding-top: 15px;
    line-height: 25px;
}
.pr-community-bottom h5 {
    font-size: 22px;
    line-height: 25px;
    padding-top: 15px;
}
.pr-community-bottom p {
    padding-top: 10px;
}
.pr-community-sec {
    margin-top: 25px;
}
.pr-footer1 {
    margin-top: 25px;
}
.pr-footer1 img {
    width: 130px;
}
.pr-footer2 {
    margin-top: 20px;
}
.pr-footer4 {
    margin-top: 20px;
}
.footer-bottom-copy p {
    font-weight: 500;
    font-size: 16px;
}
}
@media only screen and (max-width: 400px) {
    .pr-social-work3 {
        left: 165px;
    }
    .pr-social-work2 {
        left: 165px;
    }
}
@media only screen and (max-width: 375px) {
    .pr-social-work3 {
        left: 140px;
    }
    .pr-social-work2 {
        left: 140px
    }
}