@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Reset default font styles */
body {
    line-height: 1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
} 

/* Global reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Remove list styles */
ol, ul {
    list-style: none;
}

/* Remove hyperlinks' text decoration */
a {
    text-decoration: none;
}

/* Root CSS */
:root{
    --main-color:#FFA500;
    --light-text-color: #964B00;
    --dark-color: #1E0F00;
    --light-color: #FFFFFF;
    --text-color: #321900;
    --footer-text:#FFD280;
    --headding-font-family:"Montserrat Subrayada", sans-serif;
    --words-font-family:"Montserrat", sans-serif;
}

/* Start Header Section Css */
nav.navbar.navbar-expand-lg.navbar-light.navbar-bg {
    background: #D9D9D9;
    padding: 20px 0px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
li.nav-item.nav-space {
    padding: 10px 30px;
}
a.nav-link {
    font-size: 16px;
    font-weight: 600;
    color: var(--light-text-color);
    font-family: var(--words-font-family);
    border-bottom: 2px solid transparent;
    transition: color 0.5s ease-in-out;
    position: relative; /* Added */
}

a.nav-link::after { /* Added */
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--light-text-color);
    transition: transform 0.5s ease-in-out; /* Added */
    transform-origin: left; /* Added */
    transform: scaleX(0); /* Added */
}

a.nav-link:hover::after { /* Modified */
    transform: scaleX(1); /* Added */
}

/* End Header Section Css */

/* Start Hero Section Css */
.pr-hero-bg {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    /* margin-top: 50px; */
    padding-left: 20px;
    position: relative;
}
.pr-top-head h1 {
    padding-top: 330px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--headding-font-family);
    color: var(--light-text-color);
}
.pr-top-head h2 {
    font-size: 55px;
    font-weight: 700;
    font-family: var(--headding-font-family);
    color: var(--light-text-color);
    padding-top: 7px;
}
.pr-top-head p {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--words-font-family);
    color: var(--light-text-color);
    padding-top: 10px;
    line-height: 28px;
}
.pr-sign-sec {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.pr-sign-sec span{
    height: 0.5px !important;
    width: 100px;
    background-color: var(--dark-color);
}
/* End Hero Section Css */

/* Start Mission Vision Css */
.pr-mis-vis {
    margin-top: 75px;
}
h3.pr-headings {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-family: var(--headding-font-family);
    margin-bottom: 10px;
}
h3.pr-headings span{
    color: var(--main-color);
}
.pr-mis-vis p {
    text-align: center;
    padding-top: 5px;
    font-family: var(--words-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}
.pr-mivi-content {
    padding-left: 25px;
}
.pr-mivi-content h4 {
    font-size: 18px;
    padding-top: 8px;
    font-weight: 600;
    color: var(--light-text-color);
    font-family: var(--words-font-family);
}
.pr-mivi-content  div{
    height: 2px !important;
    width: 50px;
    background-color: var(--main-color);
    margin-top: 10px;
}
.pr-mivi-content p {
    font-size: 14px;
    padding-top: 10px;
    font-weight: 500;
    color: var(--light-text-color);
    font-family: var(--words-font-family);
    line-height: 22px;
    padding-right: 30px;
}
.pr-mivi-bottom {
    background: #fcf6dc;
    border-radius: 20px;
    margin-top: 45px;
    padding: 0px 50px 40px 50px;
}
/* End Mission Vision Css */

/* Start Announcement Css */
.pre-brand-ann {
    margin-top: 40px;
    padding: 0px 20px;
}
.col-lg-4.col-md-6.col-sm-12.pr-brand-ann {
    border: 1px solid rgb(164, 164, 164);
}
.pr-ann-sec {
    text-align: center;
    padding: 40px 20px;
}
.pr-ann-sec h5{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    color: var(--light-text-color);
    font-family: var(--words-font-family);
}
.pr-ann-sec p{
    font-size: 15px;
    padding-top: 20px;
    font-weight: 600;
    color: var(--light-text-color);
    font-family: var(--words-font-family);
    line-height: 25px;
}
/* End Announcement Css */

